/* styl dla '*' dotyczy calej strony ale ma najniszy priorytet */
*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h1
{
    color:green;
    font-size: 30px;

}

#h1
{ 
    color: blue;
}

span
{
    display: inline;
    margin-top: 9px;
}

ul
{
    color:blueviolet;
    list-style-type: square;
}

ol
{
    background-color: coral;
    padding: 20px;
    border-width: 5px;
    border-style: double;
    border-radius: 15px;
}